@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    font-family: 'Bree Serif', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: dashed red; */

}

body{
    margin-bottom: 100px;
}

.html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px ;
}

.blueish{
    color: #3C6E71;
}

.blue{
    color: #0B68F2;
}

/*

NAV 

*/


nav{
    padding: 0px 24px;
    display: flex;
    background-color: #BAD7FA;
    height: 48px;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.logo__img--container{
    padding-right: 12px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
}

.logo__title{
    font-size: 32px;
}

.logo-img{
    width: 56px;
    margin-top: 8px;
}

.acc-img{
    width: 20px;
    margin-top: 5px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;
}




/* -----------------

Blobs 

--------------------*/


.background-blr{
    z-index: -1;
    position: absolute;
}

.blob_1{
    right: 400px;
}





/* ----------------------

HERO 

---------------------*/

/* #hero{
    
} */

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 72px;
}

.title__text{
    font-size: 86px;
}

.work-img{
    border-radius: 30px;
    border: solid;
    filter: drop-shadow( 9px 20px rgba(0, 0, 0, 0.3));
}


.search-bar{
    margin-top: 48px;
    display: flex;
    border: solid;
    width: 75%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
}

.search-bar__text{
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 50px;
}


.moving-text{
    margin-left: 12px;
    font-size: 28px;
    color: #D9D9D9;
}

.search-btn{
    margin-right: 20px;
    border: none;
    color: #FDFFFE;
    background-color: #0B68F2;
    width: 56px;
    height: 48px;
    border-radius: 30px;
    border: solid 2px black;
}