@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
    font-family: 'Bree Serif', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: dashed red; */

}

.html{
    scroll-behavior: smooth;
}

li{
    list-style: none;
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px ;
}

.blueish{
    color: #3C6E71;
}

/*

NAV 

*/


nav{
    padding: 0px 24px;
    display: flex;
    background-color: #BAD7FA;
    height: 48px;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.logo__img--container{
    padding-right: 12px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 48px;
}

.logo__title{
    font-size: 32px;
}

.logo-img{
    width: 56px;
    margin-top: 8px;
}

.acc-img{
    width: 30px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 360px;

}
